@model AccountDetailsViewModel

@{
    ViewData["Title"] = $"{Model.Account.Name} details";
}

<h2></h2>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><strong>@Model.Account.Name</strong></div>
    <div class="panel-body">
        <p>@Model.Account.Description</p>
        <p><small>@Model.Account.Address</small></p>
        @if (User.IsInRole(WebConstants.AccountManagerRole) && Model.UserIsAssignedAccountManager)
        {
            <p id="manage-buttons">
                <a class="btn btn-primary" asp-controller="Opportunities" asp-action="Create" asp-route-accountId="@Model.Account.Id">Add Opportunity</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Account.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Account.Id">Delete</a>
            </p>
        }
    </div>

    @if (Model.Account.Opportunities != null && Model.Account.Opportunities.Count() >= 1)
    {
        <!-- Table -->
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Opportunity</th>
                    <th>Created on</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var opportunity in Model.Account.Opportunities)
                {
                    <tr>
                        <td><a asp-controller="Opportunities" asp-action="Details" asp-route-id="@opportunity.Id">@opportunity.Name</a></td>
                        <td>@opportunity.CreationDate</td>
                        <td>@opportunity.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

