@model IEnumerable<AccountListingServiceModel>

@{
    ViewData["Title"] = "Accounts";
}

<h2>@ViewData["Title"]</h2>

@if (User.IsInRole(WebConstants.AccountManagerRole))
{
    <p>
        <a class="btn btn-default" asp-controller="Accounts" asp-action="Create">Add new</a>
    </p>
}

<div class="row">
    @foreach (var account in Model)
    {
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <a asp-controller="Accounts" asp-action="Details" asp-route-id="@account.Id">@account.Name</a>
                </div>
                <div class="panel-body">
                    <p class="text-center">@account.Description</p>
                    @if (!String.IsNullOrEmpty(account.Address))
                    {
                        <p>Adrress: @account.Address</p>
                    }
                    <p>Account Manager: @account.ManagerName</p>
                    <p>@account.OpportunitiesCount Sales Opportunities</p>
                </div>
            </div>
        </div>
    }
</div>

