@model OpportunityDetailsViewModel

@{
    ViewData["Title"] = $"Opportunity {Model.Opportunity.Name} Details";
}

<h2>@ViewData["Title"]</h2>

<div class="panel panel-default">
    <div class="panel-heading"><strong>@Model.Opportunity.Name</strong></div>
    <div class="panel-body">
        <p>@Model.Opportunity.Description</p>
        <p>For account: <a asp-controller="Accounts" asp-action="Details" asp-route-id="@Model.Opportunity.AccountId">@Model.Opportunity.AccountName</a></p>

        @if (User.IsInRole(WebConstants.OpportunityMemberRole) && Model.UserIsMemberOfOpportunity)
        {
            <p id="manage-buttons">
                <a class="btn btn-primary" asp-controller="Proposal" asp-action="Create" asp-route-accountId="@Model.Opportunity.Id">Add Proposal</a>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Opportunity.Id">Edit</a>
                <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model.Opportunity.Id">Delete</a>
            </p>
        }
    </div>

    @if (Model.Opportunity.Proposals != null && Model.Opportunity.Proposals.Count() >= 1)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Proposal</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var proposal in Model.Opportunity.Proposals)
                {
                    <tr>
                        <td>@proposal.Name</td>
                        <td>@proposal.Date</td>
                        <td>@proposal.Id</td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.Opportunity.Members != null && Model.Opportunity.Members.Count() >= 1)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Team member</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var member in Model.Opportunity.Members)
                {
                    <tr>
                        <td>@member.FirstName @member.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

